<form method="POST" class="std start">
    <input type="hidden" name="action" value="start"/>
    <fieldset>
        <h1>Welcome to Stupid Poker.</h1>
    </fieldset>
    <fieldset>
        <p>This is a stupid game. You will probably win.</p>
    </fieldset>
    <fieldset class="submit">
        <input type="submit" class="submit" id="start_submit" value="Start">
    </fieldset>
</form>
<script>
document.addEventListener("keydown", function(e) {
    var key = e.key === " " ? "spacebar" : e.key.toLowerCase();
    if(key === "enter") {
        document.getElementById("start_submit").click();
    }
});
</script>
