span.card img { width: 100%; }

form.std { width: auto; box-shadow: none; }
form.std input.submit { float: right; line-height: 2.4em; border-radius: 0.3em; }
form.std input.checkbox { display: none; }
form.std label { float: left; text-align: center; padding: 1%;  width: 18%; cursor: pointer; }
form.std label.active { }
form.std fieldset { border: none; clear: both; max-width: 900px; margin: 0 auto; }
form.std fieldset.submit { border: none; padding-top: 1.5em; }

label.active img { opacity: 0.2; }

h1 { text-align: center; }

form.std.start { width: 100%; }
form.std.start fieldset { float: none; text-align: center; }
form.std.start fieldset input.submit { float: none; }

form.std fieldset.cards { padding: 0; }
form.std.deal fieldset.cards { padding: 0; }

.rules { background: #ccc; padding: 0.5em 0; font-size: 0.9em; }
.rules.balance { background: #e9e9e9; padding: 0.5em 0; font-size: 0.9em; }
.rules table { border: none; width: 100%; max-width: 900px; margin: 0 auto; }
.rules table td { padding: 0 1em; width: 35%; }
.rules table td:nth-child(2n) { text-align: right; width: 15%; }
